{% extends 'layout.html' %}

    {% block title %}
        <title>Page Administrateur</title>
    {% endblock %}

    {% block body %}
        <h1>Page Administrateur</h1>
        <a class="" href="/profile">Paramètre du compte administrateur</a>
        <br>
        <a class="" href="/pageAdminMessage">Gestion des messages</a>
        <br>
        <a class="" href="/pageAdminBan">Gestion des utilisateurs</a>
        <br>
        <a class="" href="/pageAdminGestionBan">Gestion des bannissements</a>
        <br>
        <a href="/static" class="btn btn-secondary">Retour</a>
    {% endblock %}
