<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <a class="navbar-brand" href="{{ url_for('show_layout') }}">
        <span class="ms-2">social test 1</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
                {% if session.get('pseudo') %}
                    <li class="nav-item">
                        <span class="nav-link">Bonjour <strong><a href="/profile">{{ session.pseudo }}</a></strong></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="/logout">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/inscription">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connexion">Connexion</a>
                    </li>
                {% endif %}
        </ul>
    </div>
</nav>