{% extends 'layout.html' %}

    {% block title %}
        <title>modification du pseudo</title>
    {% endblock %}

    {% block body %}
        <form method="post" action="/modif_pseudo/valider">
            <div class="col-md-6 mb-3">
                <label for="pseudo" class="form-label">entrez votre nouveau pseudo :</label>
                <input type="text" class="form-control" id="pseudo" name="pseudo" value="{{ pseudo }}" required>
            </div>
            <button type="submit" class="btn btn-primary me-3">Valider</button>
            <a class="btn btn-sm btn-warning me-1" href="/profile">retour</a>
        </form>
    {% endblock %}