{% extends 'layout.html' %}

    {% block title %}
        <title>profile</title>
    {% endblock %}

    {% block body %}
        <div>
            <h1>{{ session.pseudo }}</h1>
            <a class="btn btn-sm btn-warning me-1" href="/modif_pseudo">modifier</a>
        </div>
        <div>
            <h2>{{ session.email }}</h2>
            <a class="btn btn-sm btn-warning me-1" href="/modif_email">modifier</a>
        </div>
        <div>
            <h2>Mot de passe</h2>
            <a class="btn btn-sm btn-warning me-1" href="/modif_mdp">modifier</a>
        </div>
    {% endblock %}